hr.hrLine {
	border: 0;
	clear:both;
	display:block;
	background-color: gray;
	height: 2px;
}
.container {
	font-family: 'Lato', sans-serif;
	color: #2d3c49;
    font-weight: 300;
}
.name {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-muted {
    color: #7d97ad;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
}

.mobile {
	display: none;
}

@media screen and (max-width: 991px) {
	.mobile {
		display: block;
	}
	
	.desktop {
		display: none;
	}
	
	.logo {
        display: none;
    }

    .name {
        text-align: center;
    }
	
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	h2 {
		text-align: center;
		padding-top: 25px;
	}
	
	p {
		padding-bottom: 35px;
		font-size: 1.5em;
	}
	
}